.container1 {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.418)), url(../assests/imgs/praying.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:auto;
    margin-top: 50px;
    padding-top: 100px;
    width: 1440px;
    height: 850px;
}

.content_message {
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: auto;
    width: 640px;
    height: 336px;
}

.content_message h4 {
    font-size: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    padding-top: 100px;
}

.content_message p {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-style: medium;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.schedule_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: blur(80px);
    border-radius: 25px;
    padding: 0 20px 0 20px;
    gap: 20px;
}

.schedule_button{
    background-color: darkred;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 18px;
    width: 320px;
    height: 63px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.schedule_content .service_schedule {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 0px;
    margin-top: auto;
}

.service_schedule {
    background-color: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(50px);
    border: rgba(255, 255, 255, 0.884) solid 1px;
    border-radius: 25px;
    color: white;
    width: 375px;
    height: 205px;
}

.service_schedule p {
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}